*{
    padding: 0;
    margin: 0;
}

.profileImg{
    background-image: url(./image/profilePhoto.png);
    width: 160px;
    max-width: 160px;
    height: 160px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
   margin: auto;
   margin-top: 10px;
    background-size: cover;
}
.profile{
    margin: auto;
    width: fit-content;
}
.profileSection{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}
.profileSection > section {
    width: 80px;
    padding: 5px;
    background-color: #E5E5E5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imgContainer{
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 350px));
    grid-template-rows: repeat(3,  minmax(150px, 350px));
    grid-gap: 20px;
}
.img{
    /* width: 350px;
    height: 350px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: rgba(137, 43, 226, 0);
}
.img-1{
    background-image: url(./image/photo1.png);
}
.img-2{
    background-image: url(./image/photo2.png);
    grid-area: 1/2/2/4;
}
.img-3{
    background-image: url(./image/photo3.png);
    grid-area: 2/1/3/3;
}
.img-4{
    background-image: url(./image/photo_4.png);
    grid-area: 2/3/4/4;
}
.img-5{
    background-image: url(./image/photo5.png);
}
.img-6{
    background-image: url(./image/photo6.png);
}
